<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://uh1294526.ukrdomen.com/Service1.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
<connectionStrings><add name="uh1294526_dbEntities" connectionString="metadata=res://*/Player_DB.csdl|res://*/Player_DB.ssdl|res://*/Player_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=93.190.46.34,33301;initial catalog=uh1294526_db;persist security info=True;user id=uh1294526_user;password=fGdM6xcmx8;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>